.container
  .row.py-4
    .col-3
      .list-group.list-group-flush
        = link_to "エントリー一覧", entries_path, class:"list-group-item .text-black"
        = link_to "エントリー登録", new_entry_path, class:"list-group-item .text-black"
        = link_to "メンバー一覧", accounts_path, class:"list-group-item .text-black"
    .col-9.text-gray
      %h4.py-3 アカウント設定
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = f.error_notification
        .form-inputs
          = f.input :email, required: true, autofocus: true
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %p Currently waiting confirmation for: #{resource.unconfirmed_email}
          = f.input :dispname, required: true, autofocus: true
        .form-actions
          = f.button :submit, "Update",class:"btn btn-primary"
      %hr/
      %h4.py-3 退会
      %p #{link_to "退会します。この操作は取り消せません。", registration_path(resource_name), class:"btn btn-danger",data: { confirm: "本当に退会してよろしいですか?" }, method: :delete}