.container.py-3
  %h2.text-center.py-3.mt-4 Sign up
  .row
    .card.col-6.offset-3.shadow-sm
      .card-body
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = f.error_notification
          .form-inputs
            = f.input :email,required: true,hint: "本システムからメールを送信することはないため、ダミーのメールアドレスで結構です。",autofocus: true,input_html: { autocomplete: "email" }
            = f.input :dispname,required: true,autofocus: true,input_html: { autocomplete: "dispname" }
            = f.input :password,required: true,hint: ("#{@minimum_password_length} 文字以上で入力してください" if @minimum_password_length),input_html: { autocomplete: "new-password" }
            = f.input :password_confirmation,required: true,input_html: { autocomplete: "new-password" }
          .form-actions
            = f.button :submit, "Sign up",class:"btn btn-primary mr-2"
            = render "devise/shared/links"
