.container
    .row.py-4
        .col-3
            .list-group.list-group-flush
                = link_to "エントリー一覧", entries_path, class:"list-group-item .text-black"
                = link_to "エントリー登録", new_entry_path, class:"list-group-item .text-black"
                = link_to "メンバー一覧", accounts_path, class:"list-group-item .text-black"
        .col-9.text-gray
            .pt-3
                = link_to "←戻る", entries_path
            %small 作者：#{@entry.createby.dispname}
            .d-flex.align-items-center
                %h4.pb-1.d-inline.mr-auto [##{@entry.id}] #{@entry.title}
                - if @entry.createby == current_account
                    = link_to "編集", edit_entry_path(@entry),class:"btn btn-info mr-1"
                    = link_to "削除", entry_path(@entry),class:"btn btn-info",method: :delete
            .py-3
                .card.border-0.bg-light.mb-1
                    .card-body
                        = simple_format(@entry.contents)
            .box
                %strong コメント
            - @comments.order(id: "DESC").each do |comment|
                %small #{comment.created_at.strftime('%Y/%m/%d %H:%M')} #{comment.commenter.dispname}
                %hr.divider/
                .py-1.pb-2
                    = simple_format(comment.contents)
            = simple_form_for @comment, url: entry_comments_path(@entry) do |f|
                .form-group
                    = f.input :contents,required: true,input_html: { class:"form-control" },label:false
                .form-group
                    = f.submit :submit,class:"btn btn-primary"
