.container
    .row.py-4
        .col-3
            .list-group.list-group-flush
                %a.list-group-item.text-black(href="#") エントリー一覧
                = link_to "エントリー登録", new_entry_path, class:"list-group-item .text-black"
                %a.list-group-item.text-black(href="#") エントリー検索
                %a.list-group-item.text-black(href="#") アカウント設定
        .col-9.text-gray
            .pt-3
                = link_to "←戻る", entries_path
            %h4.pt-3.pb-1 [##{@entry.id}] #{@entry.title}
            .py-3
                #{@entry.contents}
            %hr/
            - @comments.each do |comment|
                .card.border-0.bg-light.mb-1
                    .card-body
                        %small #{comment.created_at} #{comment.commenter.email}
                        %hr.divider/
                        .py-1
                            #{comment.contents}
            = simple_form_for @comment, url: entry_comments_path(@entry) do |f|
                .form-group
                    = f.input :contents,required: true,autofocus: true,input_html: { class:"form-control" }
                .form-group
                    = f.submit :submit,class:"btn btn-primary"
