.hero.bg-light
  .container
    .hero-padding
      .row
        .col-6
          %h1 Blog Site
          .lead ブログサイトです。ブログを書くことができます。
          .mt-3
            = link_to "サインアップ", new_account_registration_path,class:"btn btn-primary"
        .col-6
          .card.opacity-light.text-black
            .card-body
              = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
                .form-group
                  = f.input :email,autofocus: true,input_html: { autocomplete: "email" , class:"form-control"}
                .form-group
                  = f.input :password,input_html: { autocomplete: "current-password", class:"form-control" }
                .form-group
                  = f.button :submit, "ログイン",class:"btn btn-primary"