!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{ name: 'viewport', content: 'initial-scale=1.0, user-scalable=no' }/
    %title Blog
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-light.shadow-sm.navbar-expand-lg
      .container
        = link_to "Blogs", root_path, class:"navbar-brand"
        %button.navbar-toggler{data:{toggle:"collapse",target:"#navbar-content"}}
          %span.navbar-toggler-icon
        .collapse.navbar-collapse#navbar-content
          - if account_signed_in?
            = link_to "ログアウト", destroy_account_session_path,class:"btn btn-info ml-auto",method: :delete
    = yield
